[submodule "Boost-for-Android"]
	path = Boost-for-Android
	url = https://github.com/moritz-wundke/Boost-for-Android
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent
[submodule "libintl-lite"]
	path = libintl-lite
	url = https://github.com/j-jorge/libintl-lite
[submodule "Lua"]
	path = Lua
	url = https://github.com/walterschell/Lua
