[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
	ignore = untracked
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent
	ignore = untracked
[submodule "libintl-lite"]
	path = libintl-lite
	url = https://github.com/j-jorge/libintl-lite
	ignore = untracked
[submodule "Lua"]
	path = Lua
	url = https://github.com/walterschell/Lua
	ignore = untracked
[submodule "OpenCC"]
	path = OpenCC
	url = https://github.com/BYVoid/OpenCC
	ignore = untracked
[submodule "anthy-unicode"]
	path = anthy-unicode
	url = https://github.com/fujiwarat/anthy-unicode
[submodule "glog"]
	path = glog
	url = https://github.com/google/glog
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/google/leveldb
[submodule "marisa-trie"]
	path = marisa-trie
	url = https://github.com/rime/marisa-trie
[submodule "librime"]
	path = librime
	url = https://github.com/rime/librime
[submodule "librime-lua"]
	path = librime-lua
	url = https://github.com/hchunhui/librime-lua
[submodule "librime-octagram"]
	path = librime-octagram
	url = https://github.com/lotem/librime-octagram
[submodule "zstd"]
	path = zstd
	url = https://github.com/facebook/zstd.git
